include mixins

block settings
  - var page = 'Layout'
  - var classes = ['layout', 'light']

doctype html
html(lang='en' class= classes data-page= page )
  head
    meta(charset='UTF-8')
    meta( content="width=device-width, user-scalable=no", name="viewport" )
    meta( name="description", content="Dan Gray Drywall")
          
    meta( property="og:title", content="Dan Gray Drywall" )
    meta( property="og:type", content="website" )
    meta( property="og:url", content="https://www.dangraydrywall.com" )
    meta( property="og:description", content="Dan Gray Drywall - Denver, CO" )
    meta( property="og:image", content="https://www.dangraydrywall.com/images/logo.svg" )
    meta( property="og:image:width", content="120" )
    meta( property="og:image:height", content="120" )

    meta( property="twitter:card", content="summary_large_image" )
    meta( property="twitter:url", content="https://www.dangraydrywall.com" )
    meta( property="twitter:title", content="Dan Gray Drywall - Denver, CO" )
    meta( property="twitter:description", content="Drywall installation and repair" )
    meta( property="twitter:image", content="https://www.dangraydrywall.com/images/logo.svg" )
    title= title

    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='theme-color', content='#ffffff')
    
    script(src='https://use.typekit.net/bcs6rzw.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

    block css
      link(rel='stylesheet' href='/css/app.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block hero
      .header
        .container            
          .row.middle-xs
            .col-md-4.col-xs-12.left-text-md.center-text-xs.m-b-xs-1.m-b-md-0
              a(href='/')
                +logo
            .col-md-8.col-xs-12
              ul
                li
                  a(href="/" class=(slug === 'home' ? 'active' : '')) Home
                li
                  a(href="/about" class=(slug === 'about' ? 'active' : '')) About
                li
                  a(href='/services' class=(slug === 'services' ? 'active' : '')) Services
                li
                  a(href='/gallery' class=(slug === 'gallery' ? 'active' : '')) Gallery
                li
                  a(href='/reviews' class=(slug === 'reviews' ? 'active' : '')) Reviews
                li
                  a(href='/contact' class=(slug === 'contact' ? 'contact' : '')) Contact
    block contact
      .contact-banner.bg-red
        .pad-container-xs
          .container
            .row
              .col-xs-12.dark-bg.center-xs
                p.m-b-xs-0 Send Dan a text 
                  a.no-underline(href='tel:720921-5596') (720) 921-5596 
                  | or email 
                  a.no-underline(href='mailto:dan@dangraydrywall.com') dan@dangraydrywall.com 
                  | to get started.
    block content
    block footer      
      .footer.bg-blue.light
        .container
          .pad-container
            .row.center-xs.middle-xs
              .col-md-4.col-xs-12.center-text-xs.dark-bg
                p Contact for a free estimate!                
                p
                  a.no-underline(href='tel:720921-5596') (720) 921-5596 
                p
                  a.no-underline(href='mailto:dan@dangraydrywall.com') dan@dangraydrywall.com                   
              .col-md-4.col-xs-12.center-text-xs.m-b-md-0.m-b-xs-1
                +logolight
              .col-md-4.col-xs-12.center-text-xs
                ul
                  li.small
                    a(href="/" class=('home' ? 'active' : '')) Home
                  li.small
                    a(href="/about" class=('about' ? 'active' : '')) About
                  li.small
                    a(href='/services' class=('services' ? 'active' : '')) Services
                ul
                  li.small
                    a(href='/gallery' class=('gallery' ? 'active' : '')) Gallery
                  li.small
                    a(href='/reviews' class=('reviews' ? 'active' : '')) Reviews
                  li.small
                    a(href='/contact' class=('contact' ? 'contact' : '')) Contact
                  

    block scripts
      script(src='https://cdnjs.cloudflare.com/ajax/libs/zooming/1.1.6/zooming.min.js')
