mixin logo
  <svg width="100px" height="auto" viewBox="0 0 450 372" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <desc>Dan Gray Drywall Logo</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8">
          <g id="dg-logo-placeholder" transform="translate(-25.000000, -64.000000)" fill="#306aa7">
              <polygon id="Rectangle-2" points="109.375 64 390.625 64 475 176.571429 250 436 25 176.571429"></polygon>
          </g>
      </g>
  </svg>
