extends layout

block settings
  - var page = 'Services'
  - var classes = ['services']
  - var slug = 'services'
  - var title = 'Dan Gray Drywall - Services'

block content
  .bg-blue
    .container.dark-bg
      .pad-container
        .row.middle-xs
          .col-md-10.col-md-offset-1.col-xs-12.center-text-xs
            h2 #{content.getText('services.hero')}
        .space-2
        .row
          each item in content.getGroup('services.services').toArray()                      
            .col-md-4.col-xs-6.center-text-xs
              .service-type
                - var imgName = item.getText('service-type')
                img.full-img(src=item.getImage('icon').url alt=imgName)
                p #{imgName}              
